@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <p>Rasmus Gymnasiearbete om Razor Pages</p>
</div>

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Razor Pages</h4>
        <p class="card-text">Asp.net core är webbsideversionen av .Net core utveckling. Under det finns fyra huvudkomponenter, Razor Pages, Blazor, MVC och Api alla kan finnas i samma webbsida och de fyller olika roller. Jag ska göra en webbsida med hjälp av Razor Pages. Razor Pages är det snabbaste och lättaste sättet att skapa kraftfulla serversidiga webbapplikationer i C#. </p>
        <a href="#" class="card-link">Läs mer </a> 
    </div>
</div>