@page
@model PrivacyModel
@{
    ViewData["Title"] = "Razor Pages";
}
<h1>@ViewData["Title"]</h1>

<div class="container p-3 my-3 border">

    <p>Asp.net core är webbsideversionen av .Net core utveckling. Under det finns fyra huvudkomponenter, Razor Pages, Blazor, MVC och Api alla kan finnas i samma webbsida och de fyller olika roller. Jag ska göra en webbsida med hjälp av Razor Pages. Razor Pages är det snabbaste och lättaste sättet att skapa kraftfulla serversidiga webbapplikationer i C#.</p>
</div>

<div class="container p-3 my-3 border">
    ASP.NET är skapat av Microsoft och används för att skapa dynamiska webbsidor. ASP.NET är baserat på .NET framework. ASP står för ”Active Server Pages”. Man kan använda olika programspråk för att utveckla ASP.NET-applikationer exempelvis: C#, J# och Ruby.
    <p>
</div>
<div class="container p-3 my-3 border">
    MVC (Model-View-Controller) är ett arkitekturmönster som används inom systemutveckling. I komplexa datorapplikationer kan det vara enklare att separera data och presentationen (Model och View). Så att inte datahanteringen ändras när man ändrar i presentationslagret och data kan omorganiseras utan att behöva ändra i presentationslagret. MVC löser detta problem med hjälp av en mellanliggande komponent ”Controller”.
    <p>
</div>
<div class="container p-3 my-3 border">
    API (application programming interface) används för webbapplikationer och webbservrar. De flesta programvaror som görs idag är applikationer som knyter samman mjukvarufunktioner i olika former och de skapar tillsammans en helhet, och denna sammanknytning sker med hjälp av API:er. API:er ger alltså en lättare sätt att ha struktur.
    <p>
</div>




